*,*::after,*::before {
   -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  color: #000000;
  background-color: #f2f2f2;
}

.container {
  margin: 0 auto;
  padding: 0;

  width: 1200px;

  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.site-navigation {
  position: relative;

  width: 1200px;

  background-color: #ffffff;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  margin: auto;
  padding: 0;

  width: 1054px;
}

.header-navigation li {
  padding: 15px 0;
  margin: 0;

  width: 100px;

  text-align: left;

  list-style: none;
}

.header-navigation li:last-child,
.header-navigation li:nth-child(3) {
  text-align: right;
}

.header-navigation li:nth-of-type(2) {
  margin-right: 236px;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -70px;
  z-index: 1;

  width: 140px;

  background-color: transparent;
}

.tagline-page {
  position: relative;
  margin: 0;
  padding: 0;

  width: 1200px;
  min-height: 508px;

  background-image: url("../img/cliff.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.tagline-page::after {
  content: "";

  position: absolute;
  bottom: -1px;
  left: 0;
  margin: 0;
  padding: 0;

  width: calc(100% + 1px);
  height: 59px;

  background-image: url("../img/polygon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.tagline-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -176px;
  margin-left: -235px;
}

.tagline-points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  margin: 0;
  padding-top: 60px;
  padding-bottom: 35px;

  min-height: 215px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;

  background-color: #ffffff;
}

.tagline-points h3 {
  margin: 0;
  padding: 0;

  width: 440px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 600;
  color: #000000;
  text-align: center;
}

.tagline-points p {
  width: 490px;
  text-align: center;
}

.visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features p {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;

  background-color: #eeeeee;
}

.features-pic-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0;
  padding: 0;

  min-height: 256px;
  background-color: #81b3d2;
}

.features-blue-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 50px auto;
  padding: 0;

  width: 274px;
  min-height: 146px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.features-blue-block h3 {
  margin: 0;
  padding: 0;
  width: 160px;

  font-size: 21px;
  line-height: 21px;
}

.features-blue-block p {
  margin: 0;
  padding: 0;

  max-width: 303px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #81b3d2;
}

.features-blue-block:last-of-type {
  margin: 48px 49px 64px;
  padding: 0;

  width: 303px;
  min-height: 145px;
}

.features-pic-block {
  margin: 0;
  padding: 0;

  width: 800px;
  height: 256px;

  background-image: url("../img/town.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.features-pic-block:nth-last-of-type(2) {
  background-image: url("../img/brige.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.features-benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  margin: 0;
  padding: 0;

  min-height: 330px;

  text-align: center;
}

.features-item-benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 62px auto 80px;
  padding: 0;

  width: 290px;
  min-height: 188px;
}

.features-item-benefit p,
.features-item-benefit h3 {
  margin: 0;
  padding: 0;

  max-width: 290px;

  background-color: #ffffff;
}

.features-item-benefit img {
  margin-bottom: 5px;
  padding: 0;
}

.features-empty-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;

  width: 1200px;
  min-height: 256px;

  background-color: #eeeeee;
}

.features-item-empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin: 48px 0 63px;
  padding: 0;

  width: 265px;
  min-height: 145px;

  text-align: center;
}

.features-item-empty h3 {
  margin: 0;
  padding: 0;
  width: 130px;
}

.features-number {
  position: relative;
  margin: 0;
  padding: 0;
}

.features-number::after {
  content: "";

  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  right: -50%;

  width: 7px;
  height: 2px;

  background-color: #ffffff;
}

.features-number::before {
  content: "";

  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  left: -50%;

  width: 7px;
  height: 2px;

  background-color: #ffffff;
}

.features-item-empty p {
  margin: 0;
  padding: 0;

  max-width: 262px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  color: #333333;
}

.features-item-empty:first-child {
  width: 210px;
  margin-left: 95px;
  margin-right: 20px;
}

.features-item-empty:last-child {
  width: 248px;
  margin-right: 76px;
}

.features-item-benefit h3,
.features-item-empty h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.features-item-empty .features-number::before,
.features-item-empty .features-number::after {
  background-color: #333333;
}

.accomodation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;

  min-height: 291px;

  text-align: center;

  background-color: #ffffff;
}

.accomodation-lines {
  margin-top: 50px;
  padding: 0;
}

.accomodation p {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;

  background-color: #ffffff;
}

.accomodation b {
  display: block;
  margin-bottom: 25px;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #333333;

  background-color: #ffffff;
}

.button-search {
  width: 568px;
  height: 86px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 86px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
}

.modal-search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  bottom: -395px;
  left: 50%;
  margin-left: -284px;
  padding: 0;
  z-index: 1;

  width: 568px;
  height: 395px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
  -webkit-box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.modal-search-wrapper button {
  border: none;
}

.search-hotels-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;

  padding: 0;
  margin: 0;

  width: 458px;
}

.search {
  width: auto;
  text-align: center;
}

.calendar,
.quantity {
  margin: 0;
  padding: 0 0 0 13px;

  height: 38px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  border: none;
}

.quantity {
  padding: 0;
  margin: 0;

  width: 38px;

  background-color: #f2f2f2;
  border: none;
}

.calendar {
  width: 346px;

  text-align: left;

  background-color: #f2f2f2;
}

.calendar-button {
  background-color: transparent;
}

.search-hotels-date {
  position: relative;
  padding: 0;
  margin: 0;

  width: 346px;
}

.search-hotels-date button {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 9px;
  right: 9px;

  border: none;
  background-color: transparent;
}

.adult-children-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  padding: 0;

  width: 458px;
}

.adult-children-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  padding: 0;
}

.adult-children-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.adult-children-row button {
  margin: 0;
  padding: 0;

  width: 38px;
  height: 38px;

  border: none;
  background-color: #f2f2f2;
}

 .less {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.adult-children-row label {
  margin-right: 27px;
}

.adult-children-row:first-of-type label {
  margin-right: 41px;
}

.search-hotels-wrapper {
  margin-bottom: 30px;
}

.adult-children-wrapper {
  margin-bottom: 54px;
}

.search-submit {
  margin: 0;
  padding: 0;

  width: 458px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 58px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #81b3d2;
}

.modal-close {
  display: none;
}

.modal-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;

}

@-webkit-keyframes bounce {
  0% { -webkit-transform: translateY(-395px); transform: translateY(-395px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); }
}

@keyframes bounce {
  0% { -webkit-transform: translateY(-395px); transform: translateY(-395px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); }
}

.filter-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;

  min-height: 217px;
  width: 1200px;

  background-image: url("../img/cliff-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter-wrapper h3 {
  margin-bottom: 25px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
}

.infrastructure-accomodation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 70px;
  padding: 0;
  width: 160px;

  min-height: 155px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.infrastructure-accomodation:nth-of-type(2) {
  margin-right: 295px;
}

.infrastructure-accomodation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  min-height: 115px;
}

.infrastructure-accomodation li {
  margin-bottom: 22px;
  padding: 0;

  list-style: none;
}

.infrastructure-accomodation label {
  position: relative;
  margin: 0;
  padding-left: 37px;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.accomodation-checkbox + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.accomodation-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-range {
  margin-right: 75px;;
  padding: 0;

  width: 316px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.filter-range-title {
  margin-bottom: 9px;
  padding: 0;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
}

.price-controls {
  position: relative;
  margin-bottom: 20px;
  padding: 0;

  height: 36px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls label {
  display: inline-block;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 31px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 3px;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls .min-price,
.price-controls .max-price {
  width: 150px;
  padding-left: 65px;
}

.price-controls input {
  width: 55px;
  margin: 0;
  padding: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  -webkit-box-sizing: content-box;

  box-sizing: content-box;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: auto;
  padding: 0;

  width: 135px;
  height: 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.result-filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;

  width: 1060px;
  min-height: 88px;

  background-color: #ffffff;
}

.result-filter-container b {
  padding: 0;
  margin-right: 48px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 600;
}

.result-filter-container p,
.filter-button {
  margin-right: 35px;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;

  border: none;
  background-color: #ffffff;
}

.filter-button:last-of-type {
   margin-right: 504px;
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 0;

  width: 35px;
}

.arrows button {
  margin: 0;
  padding: 0;

  width: 11px;
  height: 10px;

  background-color: #ffffff;
  border: none;
}

.triangle-up {
  margin: 0;
  padding: 0;

  width: 0;
  height: 0;

	border-left: 5px solid transparent;
  border-right: 5px solid transparent;
	border-bottom: 11px solid #cacaca;
}

.triangle-down {
	width: 0;
	height: 0;

	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 11px solid #cacaca;
}

.hotels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  min-height: 453px;

  list-style: none;
  background-color: #ffffff;
}

.hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  width: 1052px;
  min-height: 150px;

  background-color: #ffffff;
  border-bottom: solid 1px #f2f2f2;
}

.hotel:first-of-type {
  border-top: solid 1px #f2f2f2;
}

.hotel-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.hotel-items figure {
  margin: 0;
  padding: 0;
}

.hotel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;

  padding: 0;
  margin-left: 30px;

  min-height: 90px;
}

.hotel-name {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  color:#000000;

  background-color: #ffffff;
}

.hotel-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  width: 183px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color:#333333;

  background-color: #ffffff;
}

.hotel-item h2 {
  margin: 0;
  padding: 0;
}

.hotel-price p {
  margin: 0;
  padding-bottom: 10px;
}

.hotel-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;

  width: 258px;
}

.hotel-ref-details,
.hotel-ref-booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;

  width: 110px;
  min-height: 27px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color:#ffffff;

  background-color: #81b3d2;
}

.hotel-ref-booking {
  width: 142px;

  background-color: #766357;
}

.stars {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;

  min-height: 90px;
}

.stars p {
  margin: 0;
  padding: 0;

  width: 104px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color:#666666;

  background-color: #f2f2f2;
}

.main-footer,
.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  width: 1200px;
  min-height: 120px;

  background-color: #ffffff;
}

.main-footer b,
.page-footer b {
  margin-left: 132px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.main-footer {
  bottom: 0;
  position: absolute;
  z-index: 1;
  opacity: 0.9;

  min-height: 130px;
}

.footer-copyright p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.cocial-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 30px;
  padding: 0;
}

.cocial-wrapper li {
  margin-left: 5px;
  padding: 0;

  width: 46px;
  height: 46px;

  background-color: #81b3d2;
  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: #81b3d2;
}

.social-button svg {
  padding: 12px 12px;

  width: auto;
  height: auto;
}


.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 101px;

  width: 197px;
}

.htmlacademy-ref {
  width: 115px;
  height: 41px;
}

.active {
  color: #766357;
}

.navigation-ref:hover,
.navigation-ref:focus,
.hotel-ref:hover,
.hotel-ref:focus {
  color: #81b3d2;
}

.navigation-ref:active,
.hotel-ref:active {
  color: rgba(0, 0, 0, 0.3);
}

.filter-button {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.filter-button:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.filter-button:active {
  color: #000000;
  border: none;
}

.active-filter {
  color: #81b3d2;
  border: none;
}

.hotel-ref-details:hover,
.hotel-ref-details:focus {
  background-color: #669ec0;
}

.hotel-ref-details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

#triangle-up:hover {
	border-bottom: 11px solid #000000;
}

#triangle-down:hover {
  border-top: 11px solid #000000;
}

#triangle-up:active {
	border-bottom: 11px solid #81b3d2;
}

#triangle-down:active {
	border-top: 11px solid #81b3d2;
}

.hotel-ref-booking:hover,
.hotel-ref-booking:focus,
.button-search:hover,
.button-search:focus  {
  color: #ffffff;
  background-color: #604e43;
}

.hotel-ref-booking:active,
.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #604e43;
}

.social-button svg {
  fill: #ffffff;
}

.search-submit:hover,
.search-submit:focus,
.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.search-submit:active,
.social-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.calendar:hover {
  background-color: #ebebeb;
}

.calendar:focus {
  background-color: #ffffff;
}

.calendar svg {
  background-color: none;
}
.search-hotels-date svg,
.more svg,
.less svg {
  fill: #cacaca;
}

.search-hotels-date svg:hover,
.more svg:hover,
.less svg:hover {
  fill: #000000;
}

.search-hotels-date svg:active,
.more svg:active,
.less svg:active {
  fill: #81b3d2;
}

.social-button svg:active {
  fill: rgba(255, 255, 255, 0.3);
}

.htmlacademy-ref svg:hover {
  fill: #81b3d2;
}

.htmlacademy-ref svg:active {
  fill: #bdbbbc;
}
