*,*::after,*::before {
   box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  color: #000000;
  background-color: #f2f2f2;
}

.container {
  margin: 0 auto;

  width: 1200px;

  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.site-navigation {
  position: relative;

  width: 1200px;

  background-color: #ffffff;
}

.header-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: auto;
  padding: 0;

  width: 1056px;
}

.header-navigation li {
  padding: 15px 0;

  width: 239px;
  list-style: none;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -70px;
  z-index: 1;

  width: 140px;

  background-color: transparent;
}

.header-navigation li:last-child,
.header-navigation li:nth-child(3){
 text-align: right;
}

.tagline-page {
position: relative;
margin: 0;
padding: 0;

width: 1200px;
min-height: 557px;

background-image: url("../img/cliff.jpg");
background-size: auto;
background-position: top;
background-repeat: no-repeat;
display: flex;
}

.tagline-page::after {
  content: "";

  position: absolute;
  bottom: -1px;
  left: 0;
  margin: 0;
  padding: 0;

  width: calc(100% + 1px);
  height: 59px;

  background-image: url("../img/polygon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.tagline-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -176px;
  margin-left: -235px;
}

.tagline-points {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding-top: 60px;
  padding-bottom: 55px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;

  background-color: #ffffff;
}

.tagline-points h3 {
  width: 440px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features p {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;

  background-color: #eeeeee;
}

.features-pic-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0;

  min-height: 256px;
  background-color: #81b3d2;
}

.features-blue-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 46px 64px 60px;
  padding: 0;

  width: 280px;
  min-height: 146px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.features-blue-block p {
margin: 0;
padding: 0;
}

.features-blue-block h3 {
  margin: 0;
  padding: 0 70px;
  font-size: 21px;
  line-height: 21px;
}

.features-blue-block:last-of-type {
  width: 330px;
  min-height: 142px;
  margin: 49px 48px 65px;
}

.features-pic-block {
  margin: 0;
  padding: 0;

  width: 800px;
  height: 256px;

  background-image: url(../img/town.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.features-pic-block:nth-last-of-type(2) {
  margin: 0;
  padding: 0;

  width: 800px;
  height: 256px;

  background-image: url("../img/brige.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.features-blue-block p {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #81b3d2;
}

.features-benefit {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 60px 0 0;
  margin: 0 auto 83px;

  width: 1064px;

  text-align: center;
}

.features-item-benefit {
  width: 285px;
}

.features-item-benefit p {
  background-color: #ffffff;
}

.features-item-benefit:first-child {
  width: 255px;
}

.features-item-benefit:last-child {
  width: 275px;
}

.features-empty-container {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 256px;

  background-color: #eeeeee;
}

.features-empty-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0;
  margin: 0 auto;

  width: 1028px;

  background-color: #eeeeee;
}

.features-item-empty {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin: 57px 0 64px 0;
  padding: 0;

  width: 262px;
  min-height: 142px;

  text-align: center;

}

.features-item-empty p,
.features-item-empty h3 {
  margin: 0;
  padding: 0;
}
.features-item-empty:first-child {
  width: 208px;
}

.features-item-empty:last-child {
  width: 248px;
}

.features-item-benefit h3,
.features-item-empty h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.features-number {
  position: relative;
  margin: 0;
  padding: 0;
}

.features-number::after {
  content: "";

  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  right: -50%;

  width: 7px;
  height: 2px;

  background-color: #ffffff;
}

.features-number::before {
  content: "";

  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  left: -50%;

  width: 7px;
  height: 2px;

  background-color: #ffffff;
}

.features-item-empty .features-number::before,
.features-item-empty .features-number::after {
  background-color: #333333;

}
.accomodation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;

  min-height: 291px;

  text-align: center;

  background-color: #ffffff;
}

.accomodation p {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;

  background-color: #ffffff;
}

.accomodation b {
  padding-top: 57px;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #333333;

  background-color: #ffffff;
}

.button-search {
  width: 568px;
  height: 86px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 86px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
}

.modal-search-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  left: 50%;
  margin-left: -284px;
  z-index: 1;

  width: 568px;
  min-height: 395px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.modal-search-wrapper button {
  border: none;
}
.search-hotels-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  padding: 0;
  margin: 0;

  width: 458px;
}

.search {
  width: auto;
  text-align: center;
}

 .calendar,
 .quantity {
   margin: 0;
   padding: 0 0 0 13px;

   height: 38px;

   font-family: "PT Sans", Arial, sans-serif;
   font-size: 14px;
   line-height: 26px;
   font-weight: 700;
   text-align: center;
   color: #000000;
   border: none;
}

.quantity {
  padding: 0;
  margin: 0;

  width: 38px;

  background-color: #f2f2f2;
  border: none;
}

.calendar {
  width: 346px;

  text-align: left;

  background-color: #f2f2f2;
}

.search-hotels-date {
  position: relative;
  padding: 0;
  margin: 0;

  width: 346px;
}

.search-hotels-date button {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 9px;
  right: 9px;

  border: none;
  background-color: none;
}

.adult-children-wrapper {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0;

  width: 458px;
}

.adult-children-row {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
}

.adult-children-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.adult-children-row button {
  margin: 0;
  padding: 0;

  width: 38px;
  height: 38px;

  border: none;
  background-color: #f2f2f2;
}

 .less {
  display: flex;
  justify-content: center;
  align-items: center;
}

.adult-children-row label {
  margin-right: 27px;
}

.adult-children-row:first-of-type label {
  margin-right: 41px;
}


.adult-children-wrapper,
.search-hotels-wrapper {
margin-bottom: 30px;
}

.search-submit {
  margin-bottom: 30px;

  width: 458px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 58px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #81b3d2;
}

.modal-show {
display: flex;
animation-name: bounce;
animation-duration: 0.8s;

}
.modal-close {
  display: none;
}

@keyframes bounce {
 0% { transform: translateY(-395px); }
 100% { transform: translateY(0); }
 }

.filter-wrapper {
  margin: 0;
  padding: 0;

  min-height: 217px;
  width: 1200px;

  background-image: url(../img/cliff-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-position: center;
  margin: auto;
  padding: 0;

  width: 1056px;
  min-height: 217px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.filter-container h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
}

.infrastructure-accomodation {
  margin: 0;
  padding: 0;
  width: 160px;

}

.infrastructure-accomodation ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 7px;
  padding: 0;

  min-height: 148px;
}

.infrastructure-accomodation li {
  margin: 0;
  margin-bottom: 23px;
  padding-left: 37px;


  list-style: none;
}

.infrastructure-accomodation label {
  position: relative;

 display: block;

 cursor: pointer;
 user-select: none;
}

.accomodation-checkbox + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -37px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.accomodation-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -37px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-range {
  width: 330px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
}

.price-controls {
  position: relative;

  width: 314px;
  height: 36px;
  margin-bottom: 20px;
  padding: 0;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls label {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 31px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls .min-price,
.price-controls .max-price {
  width: 154px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  padding: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  box-sizing: content-box;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.result-filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  width: 1052px;
  margin: auto;

  background-color: #ffffff;
}

.result-filter-container p{
  margin-right: 48px;
}

.result-filter-container label,
.filter-button {
  margin-right: 33px;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;

  border: none;
  background-color: #ffffff;
}

.filter-button:first-of-type {
  margin-left: 40px;
}

.arrow {
  display: flex;
  margin-left: auto;
}

.arrow button {
  background-color: #ffffff;
  border: none;
}

.arrow svg {
  padding: 0;
  margin: 0;

  width: 100%;
  height:100%;
}

.hotels {
  display: flex;
  flex-direction: column;
  align-items: center;

  list-style: none;
  background-color: #ffffff;
}

.hotel {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;

  width: 1042px;

  background-color: #ffffff;
  border-bottom: solid 1px #f2f2f2;
}

.hotel-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;

  height: 90px;

}

.hotel-items {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

}

.hotel-items figure {
  margin: 0;
  padding: 0;
}

.hotel-name {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  color:#000000;

  background-color: #ffffff;
}

.hotel-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color:#333333;

  background-color: #ffffff;
}
.hotel-price p,
.hotel-name h2 {
  margin: 0;
  padding: 0;
}

.hotel-action {
  display: flex;
  justify-content: space-between;
  text-align: center;

  width: 258px;
}

.hotel-ref-details,
.hotel-ref-booking {
  margin: 0;
  padding: 0;

  width: 110px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color:#ffffff;

  background-color: #81b3d2;
}

.hotel-ref-booking {
  width: 142px;

  background-color: #766357;
}

.stars p{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color:#666666;

  background-color: #f2f2f2;
}

.stars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.main-footer,
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1200px;
  min-height: 120px;

  background-color: #ffffff;
}

.main-footer b,
.page-footer b {
  margin-left: 132px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.main-footer {
  bottom: 0;
  position: absolute;
  z-index: 1;
  opacity: 0.9;
}

.footer-copyright p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.cocial-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  width: 150px;
}

.cocial-wrapper li {
  margin: 0;
  padding: 0;

  width: 46px;
  height: 46px;

  background-color: #81b3d2;
  list-style: none;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: #81b3d2;
}

.social-button svg {
  padding: 12px 12px;

  width: auto;
  height: auto;
}


.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 101px;

  width: 197px;
}

.htmlacademy-ref {
  width: 115px;
  height: 41px;
}

.navigation-ref:visited {
  color: #766357;
}

.navigation-ref:hover,
.navigation-ref:focus,
.hotel-ref:hover,
.hotel-ref:focus {
  color: #81b3d2;
}

.navigation-ref:active,
.hotel-ref:active {
  color: rgba(0, 0, 0, 0.3);
}

.filter-button {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.filter-button:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.filter-button:active {
  color: #000000;
  border: none;
}

.filter-button:visited {
  color: #81b3d2;
  border: none;
}

.hotel-ref-details:hover,
.hotel-ref-details:focus {
  background-color: #669ec0;
}

.hotel-ref-details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.arrow svg {
  fill: #cacaca;
}

.arrow svg:hover {
  fill: #000000;
}

.arrow svg:visited,
.arrow svg:active {
  fill: #81b3d2;
}

.hotel-ref-booking:hover,
.hotel-ref-booking:focus,
.button-search:hover,
.button-search:focus  {
  color: #ffffff;
  background-color: #604e43;
}

.hotel-ref-booking:active,
.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #604e43;
}

.social-button svg {
  fill: #ffffff;
}

.search-submit:hover,
.search-submit:focus,
.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.search-submit:active,
.social-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.calendar:hover {
  background-color: #ebebeb;

}

.calendar:focus {
  background-color: #ffffff;
}

.calendar svg {
  background-color: none;
}
.search-hotels-date svg,
.more svg,
.less svg {
  fill: #cacaca;
}

.search-hotels-date svg:hover,
.more svg:hover,
.less svg:hover {
  fill: #000000;
}

.search-hotels-date svg:active,
.more svg:active,
.less svg:active {
  fill: #81b3d2;
}

.social-button svg:active {
  fill: rgba(255, 255, 255, 0.3);
}

.htmlacademy-ref svg:hover {
  fill: #81b3d2;
}

.htmlacademy-ref svg:active {
  fill: #bdbbbc;
}
