body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  color: #000000;
  background-color: #f2f2f2;
}
.container {
  width: 1200px;
  height: 2762px;
  display: flex;
  flex-direction: column;
  background-color: red;

}
.site-header {
  width: 1200px;
  min-height: 557px;
  margin-bottom: 56px;
  background-color: green;
}
.site-navigation {
  width: 1200px;
  min-height: 56px;
}
.header-navigation {
  width: auto;
  min-height: 56px;
  margin-top: 0;
}
.header-logo {
  float: left;
  width: 140px;
  margin-left: 529px;
}
.header-navigation li {
  width: 239px;
  min-height: 56px;
  font: inherit;
  list-style: none;
}
a {
 color: #000000;
 background-color: #f2f2f2;
 text-align: center;
 text-decoration: none;
}
.tagline {
background-image: url("../img/cliff.jpg");
background-repeat: no-repeat;

}
.tagline-logo {
  width: 459px;
  margin: auto;
  padding-top: 61px;
}
/*Не прижимается к нижнему краю*/
.polygon {
  padding: 0;
  margin: 0;
  background-color: red;
}
.visually-hidden {
  visibility: hidden;
}
.features p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  color: #333333;
  background-color: #f2f2f2;
}
.features-pic {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;

  color: #ffffff;
  background-color: #81b3d2;
}
.features-pic p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  color: #ffffff;
  background-color: #81b3d2;
}
.accomodation p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  color: #333333;
  background-color: #f2f2f2;
}
.search-hotels {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  color: #000000;
  background-color: #ffffff;
}
.button-search {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  color: #ffffff;
  background-color: #766357;
}
 .calendar {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

  color: #000000;
  background-color: #f2f2f2;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: right;
}
.quantity {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  /*background-image: <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px" height="3px">
<path class="half-row-svgpath" fill="rgba(0, 0, 0, 0.3)" d="M0.000,-0.000 L12.000,-0.000 L12.000,3.000 L0.000,3.000 L0.000,-0.000 Z"></path>
</svg>
  background-repeat: no-repeat;
  background-position: left;*/
}
.quantity {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-image: <svg width="220" height="120">
  <line x1="0" y1="60" x2="20" y2="60" stroke="black" stroke-width="5"/>
  <line x1="10" y1="50" x2="10" y2="70" stroke="black" stroke-width="5"/>
</svg>
  background-repeat: no-repeat;
  background-position: right;
}
.search-submit {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #81b3d2;
}
.page-footer b {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.social-button {
  background-color: #81b3d2;
}
.page-footer li {
  list-style: none;
}
.footer-copyright p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}
.hotels {
  list-style: none;
}
.hotel-name {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  color:#000000;
  background-color: #f2f2f2;
}
.hotel-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color:#333333;
  background-color: #f2f2f2;
}
.hotel-ref-details {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: left;
  color:#ffffff;
  background-color: #81b3d2;
}
.hotel-ref-booking {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: left;
  color:#ffffff;
  background-color: #766357;
}
.stars p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color:#666666;
  background-color: #f2f2f2;
}
.navigation-ref:hover,
.navigation-ref:focus,
.hotel-ref:hover,
.hotel-ref:focus {
color: #81b3d2;
}
.navigation-ref:active,
.hotel-ref:active {
color: rgba(0, 0, 0, 0.3);
}
.hotel-ref-details:hover,
.hotel-ref-details:focus{
background-color: #669ec0;
}
.hotel-ref-details:active {
color: rgba(255, 255, 255, 0.3);
background-color: #5496bd;
}
.hotel-ref-booking:hover,
.hotel-ref-booking:focus,
.button-search:hover,
.button-search:focus  {
color: #ffffff;
background-color: #604e43;
}
.hotel-ref-booking:active,
.button-search:active {
color: #503e33;
background-color: #604e43;
}
.search-submit:hover,
.search-submit:focus,
.social-button:hover,
.social-button:focus {
background-color: #669ec0;
}
.search-submit:active,
.social-button:active {
color: rgba(255, 255, 255, 0.3);
background-color: #5496bd;
}
.calendar:hover,
.calendar:focus {
  background-color: #ebebeb;
}
